<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897553999352-ooivuv876q2qbaf3brm1lan205q4m7r5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897553999352-ooivuv876q2qbaf3brm1lan205q4m7r5</string>
	<key>API_KEY</key>
	<string>AIzaSyBQV6b8DZzUGFJABxydqDgIj4JIVH5Dg8s</string>
	<key>GCM_SENDER_ID</key>
	<string>897553999352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.PitchPals</string>
	<key>PROJECT_ID</key>
	<string>pitchpals-84791</string>
	<key>STORAGE_BUCKET</key>
	<string>pitchpals-84791.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:897553999352:ios:ab811316ccfb0ca7fd220d</string>
</dict>
</plist>
